body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #22343d;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.hero-title-accent {
  color: #02897a;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #02897a;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #00675c;
}

.hero-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #02897a;
}

.hero-link:hover,
.hero-link:focus {
  color: #00675c;
}
